.scrapbook {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
  
  .scrapbook-item {
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: calc(30% - 20px); /* Adjust width as needed */
    transition: transform 0.3s;
  }
  
  .scrapbook-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .scrapbook-item:hover {
    transform: scale(1.05);
  }
  