.scrapbook {
    position: relative;
    margin: 0 auto;
    border: 2px solid #ccc;
    overflow: hidden;
    background-color: #f9f9f9;
    transition: width 0.5s ease, height 0.5s ease; /* Smooth resizing */
  }
  
  .scrapbook-item {
    position: absolute;
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
  }
  
  .scrapbook-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .scrapbook-item:hover {
    transform: scale(1.1);
    z-index: 100;
  }
  
  /* Stickers - Smaller, circular, and positioned on top of images */
  .sticker {
    position: absolute;
    width: 40px;
    height: 40px;
  }
  
  .sticker img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Circular stickers */
  }
  
  
  .download-btn {
    display: block; /* Center the button */
    margin: 20px auto; /* Center the button and add top margin */
    padding: 10px 20px;
    background-color: #F7A8CE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .download-btn:hover {
    background-color: #F7A8CE;
  }
